trigger:
- master

pool:
  vmImage: 'Ubuntu-16.04'

steps:
- task: CopyFiles@2
  inputs:
    contents: *.yml
    targetFolder: $(Build.ArtifactStagingDirectory)
- task: PublishBuildArtifacts@1
  inputs:
    pathtoPublish: $(Build.ArtifactStagingDirectory)
    artifactName: manifests
